h1{
	text-align: center;
}
p,h1{
	color:FloralWhite;
}
*{
	font-family:"American Typewriter";
	background-color:Black;
	
}
.aliceblue{
	color: AliceBlue
	border-style:solid;
	border-color: AliceBlue;
	background-color:AliceBlue;
	border-height:10px;
}